// Vars ---------------------------------------------------------------- //
@import '../vars';

// Styles -------------------------------------------------------------- //
.basicSlider {

	margin: 0 0 3rem;

	// Arrow -------------------------------------------------------------- //
	&__arrow {
		$size: 22px;

		position: absolute;
		top: calc(50% - #{ $size/2 });
		padding: 0;
		width: $size;
		height: $size;
		background: $basicSlider__color;
		color: white;
		text-align: center;
		border: none;
		border-radius: 100%;
		opacity: .4;
		transition: opacity $basicSlider__duration $basicSlider__timing;

		&::before {
			font-size: 14px;
			line-height: $size;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__arrow--left {
		left: 6px;

		&::before {
			content: '←';
		}
	}

	&__arrow--right {
		right: 6px;

		&::before {
			content: '→';
		}
	}

	// Dots -------------------------------------------------------------- //
	&__dots {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 100%;
		width: 100%;
		height: 2rem;
	}

	// Dot -------------------------------------------------------------- //
	&__dot {
		flex: 0 0 auto;
		padding: 6px;
		background: transparent;
		border: none;
		opacity: .4;
		transition: opacity $basicSlider__duration $basicSlider__timing;

		&::before {
			$size: 8px;

			content: '';
			display: block;
			width: $size;
			height: $size;
			background: $basicSlider__color;
			border: none;
			border-radius: 100%;
		}

		&:hover,
		&.active {
			opacity: 1;
		}
	}

}