.basicSlider {

	position: relative;
	width: 100%;

	// Arrow -------------------------------------------------------------- //
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		border: none;
		outline: none;
		background: transparent;
	}

	&__arrow--left {
		left: 0;

		&::before {
			content: '←';
		}
	}

	&__arrow--right {
		right: 0;

		&::before {
			content: '→';
		}
	}

	// Container -------------------------------------------------------------- //
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	// Slides -------------------------------------------------------------- //
	&__slides {
		position: relative;
		display: flex;
		height: 100%;
		transition: transform $basicSlider__duration $basicSlider__timing;
		will-change: transform;
	}

	// Slide -------------------------------------------------------------- //
	&__slide {
		flex: 0 1 auto;
		width: 100%;
		height: 100%;
	}

}